<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-positive">
	<a href="#/">
	<button class="button icon-left ion-chevron-left button-clear button-white">
	</button></a>
	
	<h1 class="title">About</h1>
  </ion-header-bar>
  <ion-content class="content">

	<div class="about-view">
        <img style="margin:0px auto;display:block" src="img/athena.png"></img>
        <p>
            <h3>Application full name</h3>
            Athena Technological Headache-diary for ENhanced Anamnesis
            <h3>Version</h3>
            0.1b
            <h3>Author</h3>
            Lorenzo Guizzaro, MD - lorenzo.guizzaro@mail.com        
        </p>
            Athena is a free, open source Headache diary written for firefox OS. It's crafted on the criteria of the International             Classification of Headache Disorders (ICHD-3 beta, 2013) to discriminate between migraine and tension-type headaches.             It's meant to assist medical anamnesis and to make things easier to both physicians and patients.
            <br></br>
            Athena is made with large use of cool stuff made by other people, like:
            <br></br>

                Ionic: Advanced HTML5 Hybrid Mobile App Framework<br></br>
                AngularJS — Superheroic JavaScript MVW Framework
            
            <br></br>
            Please note that Athena is in an early stage of its development, so problems may still arise somewhere and some                   features are still to come. It' no intended in any way to substitute a phyisician, and I strongly advise you against               taking any medical decision based on what Athena says.
	</div>

  </ion-content>
</ion-pane>