<ion-pane>
  <ion-header-bar align-title="left" class="bar bar-header bar-positive">
    <h1 style="margin-left: 50px" class="title">{{appname}}</h1>
  </ion-header-bar>

  <ion-content class="content">
      
    <div class="list">

      <a class="item item-icon-left" href="#/add">
        <i class="icon ion-plus-round"></i>
        Add an episode
      </a>

      <a class="item item-icon-left" href="#/show">
        <i class="icon ion-clipboard"></i>
        Show the diary
      </a>
        
      <a class="item item-icon-left" href="#/stats">
        <i class="icon ion-stats-bars"></i>
        Descriptive statistics
      </a>
        
      <a class="item item-icon-left" href="#/erase">
        <i class="icon ion-close-round"></i>
        Erase
      </a>

        
      <a class="item item-icon-left" href="#/about">
        <i class="icon ion-help"></i>
        About
      </a>

     
    </div>
  


  </ion-content>
</ion-pane>